In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from shapely.geometry import Point 
import geopandas as gpd 
from geopandas import GeoDataFrame

ModuleNotFoundError: No module named 'geopandas'

In [78]:
df=pd.read_csv('DPFONAL_1.csv')

C:\Users\htst1\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (134) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [65]:
#Produce the frequency table of “CRCLSCOD” with the following columns: (1)  each category of this predictor and 
#(2) the frequency of each level of this predictor.

In [79]:
freq = pd.crosstab(index=df["crclscod"], columns="count") 
freq.sort_values('count',ascending=False,inplace=True)
#freq.reset_index()
# create freq table

In [80]:
freq

col_0     count
crclscod
AA        32864
A         15226
BA        11408
CA         7529
EA         5720
B          3690
DA         3328
ZA         3158
C          1324
A2          784
E4          767
U           428
E           302
D4          273
GA          255
D           227
Z4          223
I           221
G           214
JF          176
Z           174
J           172
CY          169
C2          164
M           160
ZY          105
D5          104
B2           98
K            98
W            91
C5           73
V1           65
U1           55
EM           53
Z5           53
Y            46
EC           42
GY           32
O            21
CC           21
E2           20
IF           14
Z1           11
H             9
L             6
TP            5
D2            5
Z2            5
P1            4
A3            3
EF            2
S             1
V             1
ZF            1

In [81]:
len(pd.unique(freq.index))

54

In [ ]:
#What is the cardinality of this predictor “CRCLSCOD “?  54 cardinality
#What is the threshold set by you to combine all cells with frequency less than this threshold?  just 120???
#How many categories of this predictor has cell frequency less than the threshold set by you?  29 categories
#Combine categories with frequency less than the threshold set by you.

In [82]:
freq['count'].sum()
# check total number of count

90000

In [83]:
freq.loc[freq['count']<120].sum()
# check total number of count under 120

col_0
count    1044
dtype: int64

In [92]:
freq.drop(freq[freq['count'] < 120].index, inplace = True)
freq.loc['combined']= [1044]
freq
#drop rows under 120 count, and add new row with sum of removed rows

col_0     count
crclscod
AA        32864
A         15226
BA        11408
CA         7529
EA         5720
B          3690
DA         3328
ZA         3158
C          1324
A2          784
E4          767
U           428
E           302
D4          273
GA          255
D           227
Z4          223
I           221
G           214
JF          176
Z           174
J           172
CY          169
C2          164
M           160
combined   1044

In [93]:
freq['count'].sum()
#check if total is same as previous total

90000